body {
text-align: center;
font-size: 1.2rem;
padding:2%;
font-family: 'RobotoCondensed';
}

font-face {
  font-family: RobotoCondensed;
  font-weight: 800;
}
font-face{
  font-family:EconomicaBold;
}

h1,h2,h3,h4,h5{
  font-family: 'EconomicaBold';
}

.title-fade-out
{
  opacity:0;
  animation-name: fade-out;
  animation-duration: 2s;

}

.title-fade-in
{
  opacity:100;
  animation: fade-in 2s ;
}

@keyframes fade-out
{
  from{opacity:100}
  to{opacity:0}
}

@keyframes fade-in{
  from{opacity:0}
  to{opacity: 100}
}

img{
  margin-top:2rem;
  margin-bottom:2rem;
}

